
<style>
  body,html{
    background-color:rgb(230,230,230);
  }
  #projectView {
    background-color:rgb(180,180,180);
    border-style:solid;
    border-color:black;
    border-radius:32px;
    padding-bottom:50px;
  }
  a {
    background: #575757;
    background-image: -webkit-linear-gradient(top, #575757, #c4c4c4);
    background-image: -moz-linear-gradient(top, #575757, #c4c4c4);
    background-image: -ms-linear-gradient(top, #575757, #c4c4c4);
    background-image: -o-linear-gradient(top, #575757, #c4c4c4);
    background-image: linear-gradient(to bottom, #575757, #c4c4c4);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    
  }
  
  a:hover {
    background: #474347;
    background-image: -webkit-linear-gradient(top, #474347, #000000);
    background-image: -moz-linear-gradient(top, #474347, #000000);
    background-image: -ms-linear-gradient(top, #474347, #000000);
    background-image: -o-linear-gradient(top, #474347, #000000);
    background-image: linear-gradient(to bottom, #474347, #000000);
    text-decoration: none;
  }
</style>

<p style="color: green"><%= notice %></p>

<div id="projectView">
<%= render @project %>

  <%= link_to "Back to projects", projects_path %>
  <%= link_to "Edit this project", edit_project_path(@project) %> 
  
  
  <%= link_to "Destroy this project", @project, method: :delete %>
</div>
